Flask==2.3.2
Flask-CORS==4.0.0
firebase-admin==6.2.0
python-dotenv==1.0.0
Werkzeug==2.3.6
requests==2.31.0
openai==0.27.8
Pillow>=10.4.0
google-cloud-vision==3.4.5
python-dateutil==2.8.2
gunicorn==21.2.0
